In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1414,tt0424774,50000000,69425966,The Adventures of Sharkboy and Lavagirl,Taylor Lautner|Taylor Dooley|Cayden Boyd|Georg...,Robert Rodriguez,Smaller heroes. Just as super.,Max conjures up his perfect dreamworld...the P...,92,Adventure|Fantasy|Action|Family,Columbia Pictures Corporation|Dimension Films,6/10/2005,4.3,2005
47,tt2719848,55000000,203427584,Everest,Jason Clarke|Jake Gyllenhaal|Josh Brolin|John ...,Baltasar KormÃ¡kur,The Storm Awaits.,Inspired by the incredible events surrounding ...,121,Adventure|Drama,Universal Pictures|Working Title Films|Walden ...,9/10/2015,6.7,2015
293,tt0881891,15000000,40105542,All About Steve,Sandra Bullock|Thomas Haden Church|Bradley Coo...,Phil Traill,A Comedy That Clings,"After one short date, a brilliant crossword co...",99,Comedy,Dune Entertainment|Fox 2000 Pictures|Fortis Fi...,9/4/2009,4.6,2009
435,tt1179056,35000000,115664037,A Nightmare on Elm Street,Jackie Earle Haley|Katie Cassidy|Kyle Gallner|...,Samuel Bayer,Never Sleep Again.,The film that brings back horror icon Freddy K...,95,Horror|Mystery|Thriller,New Line Cinema|Platinum Dunes,4/30/2010,5.5,2010
1221,tt1817273,15000000,35485608,The Place Beyond the Pines,Ryan Gosling|Bradley Cooper|Eva Mendes|Dane De...,Derek Cianfrance,If you ride like lightning you're gonna crash ...,A motorcycle stunt rider considers committing ...,140,Drama|Crime,Sidney Kimmel Entertainment|Electric City Ente...,3/20/2013,6.7,2013

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
print(data[data.budget == data.budget.max()][['original_title', 'imdb_id']])

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

In [6]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
print(data[data.runtime == data.runtime.max()][['original_title', 'imdb_id']])

         original_title    imdb_id
1157  Gods and Generals  tt0279111

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
print(data[data.runtime == data.runtime.min()][['original_title', 'imdb_id']])

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
print(round(data.runtime.mean()))

110

In [12]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [13]:
print(round(data.runtime.median()))

107

In [14]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
data['profit'] = data['revenue'] - data['budget']

In [16]:
print(data[data.profit == data.profit.max()][['original_title', 'imdb_id']])

    original_title    imdb_id
239         Avatar  tt0499549

In [17]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
print(data[data.profit == data.profit.min()][['original_title', 'imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
print(len(data[data.profit > 0]))

1478

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data08 = data[data.release_year == 2008] # dataframe со списком фильмов 2008 года
print(data08[data08.profit == data08.profit.max()][['original_title', 'imdb_id']])

      original_title    imdb_id
599  The Dark Knight  tt0468569

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data12_14 = data[(data.release_year >= 2012) & (data.release_year <= 2014)] # dataframe со списком фильмов с 2012 по 2014 г.
print(data12_14[data12_14.profit == data12_14.profit.min()][['original_title', 'imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [26]:
'''Через слияния всех жанров в одну строку'''
print(Counter(data.genres.str.cat(sep = '|').split('|')).most_common(1))

[('Drama', 782)]

Вариант 2

In [27]:
'''Через explode по жанрам'''
data2 = data.copy()
data2['genres'] = data2['genres'].apply(lambda x: x.split('|'))
data_genres = data2.explode('genres') # dataframe с деализацией до жанра
print(Counter(data_genres.genres).most_common(1))

[('Drama', 782)]

In [28]:
answers['11'] = 'Drama 782'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
data2 = data.copy()
data2['genres'] = data2[data.profit > 0].genres.apply(lambda x: x.split('|'))
data_genres = data2.explode('genres') # dataframe с деализацией до жанра
print(Counter(data_genres.genres).most_common(1))

[('Drama', 560)]

In [30]:
answers['12'] = 'Drama 560'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
data2 = data.copy()
data2['director'] = data2.director.apply(lambda x: x.split('|'))
data_director = data2.explode('director') # dataframe с деализацией до режиссера
print(data_director.groupby(['director']).revenue.sum().sort_values(ascending = False).head(1))

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [32]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data2 = data.copy()
data2['genres'] = data2.genres.apply(lambda x: x.split('|'))
data_genres = data2.explode('genres') # dataframe с деализацией до жанра
data_genres['director'] = data_genres['director'].apply(lambda x: x.split('|'))
data_gen_dir = data_genres[data_genres.genres == 'Action'].explode('director') # dataframe с деализацией до "жанр - режиссер"

In [34]:
print(Counter(data_gen_dir.director).most_common(1))

[('Robert Rodriguez', 9)]

In [35]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
data2 = data.copy()
data2['cast'] = data2.cast.apply(lambda x: x.split('|'))
data_cast_12 = data2[data2.release_year == 2012].explode('cast') # dataframe с деализацией до актера по фильмам 2012 года
print(data_cast_12.groupby(['cast']).revenue.sum().sort_values(ascending = False).head(1))

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [37]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
data2 = data.copy()
data2['cast'] = data2.cast.apply(lambda x: x.split('|'))
data_cast = data2[data2.budget > data2.budget.mean()].explode('cast') # dataframe с деализацией до актера
print(Counter(data_cast.cast).most_common(1))

[('Matt Damon', 18)]

In [39]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
data2 = data.copy()
data2['genres'] = data2.genres.apply(lambda x: x.split('|'))
data_genres = data2.explode('genres') # dataframe с деализацией до жанра
data_genres['cast'] = data_genres['cast'].apply(lambda x: x.split('|'))
data_gen_cast = data_genres.explode('cast') # dataframe с деализацией до "жанр-актер"
print(Counter(data_gen_cast[data_gen_cast.cast == 'Nicolas Cage'].genres).most_common(1))

[('Action', 17)]

In [41]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
data2 = data.copy()
data2['production_companies'] = data2.production_companies.apply(lambda x: x.split('|'))
data_companies = data2.explode('production_companies') # dataframe с деализацией до компании
data_paramount = data_companies[data_companies.production_companies == 'Paramount Pictures']
print(data_paramount[data_paramount.profit == data_paramount.profit.min()][['original_title', 'imdb_id']])

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

In [43]:
answers['18'] = 'K-19: The Widowmaker  tt0267626'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
print(data.groupby(['release_year']).revenue.sum().sort_values(ascending = False).head(1))

release_year
2015    25449202382
Name: revenue, dtype: int64

In [45]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
data2 = data.copy()
data_warner_bros = data2[data2.production_companies.str.contains('Warner Bros.')] # dataframe фильмов студии Warner Bros
print(data_warner_bros.groupby(['release_year']).profit.sum().sort_values(ascending = False).head(1))

release_year
2014    2295464519
Name: profit, dtype: int64

In [47]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
data2 = data.copy()
data2['release_month'] = data2.release_date.str.split(pat = '/', expand=True)[0]
print(data2.release_month.value_counts().head(1))

9    227
Name: release_month, dtype: int64

In [49]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
data2 = data.copy()
data2['release_month'] = data2.release_date.str.split(pat = '/', expand=True)[0]
print(len(data2[(data2.release_month == '6') | (data2.release_month == '7') | (data2.release_month == '8')]))

450

In [51]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
data2 = data.copy()
data2['release_month'] = data2.release_date.str.split(pat = '/', expand=True)[0] # столбец с месяцем выхода фильма
data2['director'] = data2.director.apply(lambda x: x.split('|'))
data_director = data2.explode('director') # dataframe с деализацией до режиссера
print(data_director[(data_director.release_month == '12')
                    | (data_director.release_month == '1') 
                    | (data_director.release_month == '2')].director.value_counts().head(1))

Peter Jackson    7
Name: director, dtype: int64

In [53]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
data2 = data.copy()
data2['production_companies'] = data2.production_companies.apply(lambda x: x.split('|'))
data_companies = data2.explode('production_companies') # dataframe с деализацией до компании
data_companies['original_title_len'] = data_companies.original_title.str.len() # столбец с длиной названия
print(data_companies.groupby(['production_companies']).original_title_len.mean().sort_values(ascending = False).head(1))

production_companies
Four By Two Productions    83.0
Name: original_title_len, dtype: float64

In [55]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
data2 = data.copy()
data2['production_companies'] = data2.production_companies.apply(lambda x: x.split('|'))
data_companies = data2.explode('production_companies') # dataframe с деализацией до компании
data_companies['overview_words'] = data_companies['overview'].str.split(' ').apply(lambda x: len(x)) # столбец с числом слов в описании
print(data_companies.groupby(['production_companies']).overview_words.mean().sort_values(ascending = False).head(1))

production_companies
Midnight Picture Show    175.0
Name: overview_words, dtype: float64

In [57]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
print(data.sort_values(by = ['vote_average'], ascending = False)[:int(len(data)*0.01)].original_title)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

In [59]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # Выбраны из списка согласно ответу в викторине

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
data2 = data.copy()
data2['cast'] = data2.cast.apply(lambda x: x.split('|'))
data2['pairs'] = data2['cast'].apply(lambda x: list(itertools.combinations(x, 2)))
data_pair_cast = data2.explode('pairs') # dataframe с деализацией до "пары актеров"
print(Counter(data_pair_cast.pairs).most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [61]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama 782',
 '12': 'Drama 560',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker  tt0267626',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27